[submodule "/home/user/Desktop/Workspace/VL27162019/Please/themes/hugo-highlights-theme"]
    path = /home/user/Desktop/Workspace/VL27162019/Please/themes/hugo-highlights-theme
    url = https://github.com/schmanat/hugo-highlights-theme
